<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WaveView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F6E012091DACBADA00A4FB95</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F6E012221DACBADB00A4FB95</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F6E0122D1DACBADB00A4FB95</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
